---
layout: post
title: "Liq"
---

<p>Your liq is a measure of your general rational thinking ability. It is your logical iq or intelligence. The subjects used vary and range from: <b>biology, chemistry, physics, math, statistics, and computer science.</b> Humanities subjects like <b>english, writing, music, history, and spirituality</b> are included as well. Because it only measures logical ability, you're only required to know the very basics of each subject for the problems.</p>

<blockquote>
These problems are designed to help you think quantum mechanically! You will think about various solutions to problems like a quantum computer. I hope the can help you digest the ideas on the website!   
</blockquote>

<p>You don't have to be an expert to score well and any additional information you need will be given in the set, meaning. All of the problem sets come with solutions and it's a free space for you and your buddies to enhance reasoning skills. The sets enhance quantum reasoning skills so it is easier for you to approach problems using that framework. Best of luck! :)</p>

<div>
  {% for item in site.data.liq_links.structure %}
    {% if item.show == true %}
      <a class="tags-post" href="{{ site.baseurl }}{{ item.url }}" style="text-decoration:none">
      <h1 class="catalogue-title"># {{ item.title }}<div class="tags-post-line"></div></h1>
      </a>
    {% endif %}
  {% endfor %}
</div>

<br> <br>

<img src="{{ site.baseurl }}/gold-storage/blue-sword.jpeg" width="100%" height="100%" />
